<!-- Basic HTML5 Boilerplate -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta declarations -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title> blog managment </title>
    
    <!-- Link to external CSS files -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <!-- Optional: Link to external JavaScript files -->
    
</head>
<body>
    <div class=container >
        <%- include('../parts/header')%>
        
        <main class='main'>
            <%- body %>
        </main>
        
        <%- include('../parts/footer')%>
    </div>
  <script src= /js/script.js>
 </script>
 </body>
</html>