<div class="author">
    <h1 class="author__heading">hi I am yaphet</h1>
<img src="public/img/man-475559_1280.jpg" alt="Dinosaur" />
<section class="article" width="981" height="528">
    <h2 class="articles__heading">latest post</h2>
    <ul>
        <li>
            <a href="#">
                <span>post title</span>
                <span class="article-list_date">Date</span>
        
        </li>
    
    </ul>
    
 <a href="#" class="pagination">$lt: view older post</a>   
</section>
